@page "/fetchcustomers"
@inject HttpClient Http

<PageTitle>Customers Page</PageTitle>

<h1>Customers List</h1>

<p>This component demonstrates fetching data from the server using the minimal API .</p>

@if (customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>CustomerId</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>CompanyName</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
                <tr>
                    <td>@customer.CustomerID</td>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.CompanyName</td>
                    <td>@customer.EmailAddress</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Customer[]? customers;

    protected override async Task OnInitializedAsync()
    {
        //TODO: Get data using the Minimal API instread of .json file
        customers = await Http.GetFromJsonAsync<Customer[]>("sample-data/customer.json");
    }

    public class Customer
    {  
        public int CustomerID { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public string CompanyName { get; set; }
        public string EmailAddress { get; set; }
    }
}
